html{
  scroll-behavior: smooth;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
}
.primary-default{
  color: #295d72;
} 
.secondary-default {
  color: #fac470;
}

/* ---------- Profile ----------*/
.profile-imgBox img{
  width: 100%;
}
.profile-title{
  position: relative;
  padding-left: 20px;
  font-size: 3rem;
}
.profile-title:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #295d72;
  width: 8px;
  height: 100%;
}
.profile-introduce{
  font-size: 1.2rem;
}
.readMore-btn{
  background: #295d72;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.readMore-btn:hover{
  color: #fac470;
  transition: 0.3s;
  text-decoration: none;
}
@media screen and (min-width:768px){
  .profile-title{
    font-size: 3.2rem;
  }
}
@media screen and (min-width:992px){
  .profile-title{
    font-size: 3.2rem;
  }
}

/* ---------- About Me ----------*/
.AboutMe {
  height: auto;
  background: #295d72;
}
.aboutMe-content{
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}
@media screen and (min-width:768px){
  .aboutMe-content{
    color: #ffffff;
    font-size: 1.2rem;
  }
}
@media screen and (min-width:992px){
  .aboutMe-content{
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

/* ---------- Skills ----------*/
.Skills{
  height: auto;
  background: #295d72;
}
.carousel-container{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper{
  cursor: grab;
}
.swiper-pagination-bullet-active{
  background: #ffffff;
}
.arrow-btn{
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.arrow-left{
  left: 0;
}
.arrow-right{
  right: 0;
}
.skill-Card{
  width: 200px;
}
.skill-Title{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.skill-fill{
  background: #ffffff;
  color: #295d72;
}
.skill-line{
  color: #ffffff;
  border: 2px solid #ffffff;
}
.skill-Content{
  border-top: 1px solid #ffffff;
}
.skill-Content p{
  color: #ffffff;
  font-size: 1.2rem;
}
.dolt{
  position: relative;
}
.dolt:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 2%;
  width: 12px;
  height: 12px;
  background: #fac470;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}
@media screen and (min-width:992px){
  .arrow-btn{
    display: none;
  }
}
@media screen and (min-width:1200px){
  .arrow-btn{
    display: none;
  }
  .swiper-wrapper{
    cursor: default;
  }
}
